<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Eventosapp</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>

	<h1>Cadastro de Eventos:</h1>
	<form method="POST">
		Nome:<input type="text" value="" name="nome">
		Local:<input type="text" value="" name="local">
		Data:<input type="date" value="" name="data">
		Horário:<input type="text" value="" name="horario">
		<button type="submit">Salvar</button>
	
	
	</form>
    
</body>
</html>